
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    
  }
 
 
  .contentt{
    display: flex;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .kolumna1 {
    flex: 1; 
    margin-right: 20px;
  }
  
  
  .kolumna2 {
    flex: 1;
    margin-left: 20px;
  }
  
   
  .element1k1,.element1k2,.element2k1,.element2k2 {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .kontodata {
    flex-basis: 50%;
    padding-right: 20px;
  }
  
  .user {
    font-size: 24px;
    font-weight: bold;
  }
  
  .numerkonto {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .kontosrodki {
    flex-basis: 50%;
    padding-left: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
   
  }
  
  .kontosrodki p {
    margin: 0;
    font-size: 18px;
  }
  
  .srodki {
    font-size: 36px;
    font-weight: bold;
  }
  .przelej-button {
    flex-basis: 100%;
    margin-top: 20px;
  }
  
  .przelej-button a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .przelej-button a:hover {
    background-color: #0056b3;
  }
  
  .historia {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    display: flex;
 flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .historia h4 {
    margin: 0 0 0 0;
    flex-basis: 50%;
  }
  .historia .history{
    flex-basis: 50%;
  }
  .historia p {
    font-size: 16px;
  }
  

  /* h4>img{
    width: 100px;
  } */
  .element2k2{
    display: flex;
    flex-wrap: wrap;
  }
 
  .listatranzakcji{
    padding-top: 20px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
  }
  .listatranzakcji ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }

  .listatranzakcji li {
    display: flex;
    align-items: center;
    
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }

  .listatranzakcji li p {
    margin: 0;
    flex: 1;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    justify-content: space-around;
  }
  .listatranzakcji li p img {
    width: 2em;
    margin-right: 2em;
  }
  /* .wrap{
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .perc>p{
    margin-top: 15px;
  }

 iframe{
  position: fixed;
 bottom:-150px;
 left: 10px;
 }
    
 