
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    
  }
  
  nav {
    background-color: #004d9c;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .contentt{
    display: flex;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .konto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .kontodata {
    flex-basis: 50%;
    padding-right: 20px;
  }
  
  .user {
    font-size: 24px;
    font-weight: bold;
  }
  
  .numerkonto {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .kontosrodki {
    flex-basis: 50%;
    padding-left: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
   
  }
  
  .kontosrodki p {
    margin: 0;
    font-size: 18px;
  }
  
  .srodki {
    font-size: 36px;
    font-weight: bold;
  }
  .przelej-button {
    flex-basis: 100%;
    margin-top: 20px;
  }
  
  .przelej-button a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .przelej-button a:hover {
    background-color: #0056b3;
  }
  
  .historia {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    display: flex;
 flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .historia h4 {
    margin: 0 0 0 0;
    flex-basis: 50%;
  }
  .historia .history{
    flex-basis: 50%;
  }
  .historia p {
    font-size: 16px;
  }
  

  h4>img{
    width: 100px;
  }
  .listatranzakcji{
    padding-top: 20px;
    flex-basis: 100%;
  }
  .listatranzakcji ul {
    list-style-type: none;
    padding: 0;
  }

  .listatranzakcji li {
    display: flex;
    align-items: center;
 
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }

  .listatranzakcji li p {
    margin: 0;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
  }
  .wrapp{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .perc>p{
    margin-top: 15px;
  }
    
  

  

/*   
  .przelej-button {
    display: flex;
    margin-right: 10px;
    align-self:flex-end;
  }
  
  .przelej-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .przelej-button a:hover {
    background-color: #0056b3;
  }
  
  .przelej-button:last-child {
    margin-right: 0;
  } */