
nav {
  background-color: #004d9c;
  color: #fff;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {  
  padding: 10px;
} 


nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
}


nav li {
  list-style: none;
}



nav li a:hover {
  color: yellow;
  text-decoration: none;
}


h4>img{
  width: 100px;
}
h4>a>img{
  width: 100px;
}

span{
  background-color:#007bff ;
  color: white;
  padding: 12px 6px;
  border: 1px solid #007bff;
  border-radius: 10%;
  padding: 0.375rem 0.75rem;
}

 .avatar-ctn {
  background-color: orange;
  text-align: center;
}

.avatar {
  width: 65%;
  border-bottom: 1px solid rgba(0,0,0,0.125);
} 

.zawart{
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}


.content {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.zmianadanych,
.money {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.money {
  margin-left: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

input[type="submit"],
 button {
  background-color: #007bff;;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
} 

input[type="submit"]:hover,
 button:hover {
  background-color: #0056b3;
} 
h1 {
  text-align: center;
  margin-top: 20px;
}