<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin_profile.css">

</head>
<body>
    <nav>
        <h4>Admin panel</h4>
        <ul>
          <li><a href="/admin">Profile</a></li>
          <li><a href="/admin_opinion">Opinie użytkowników</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        
        </ul>
      </nav>
      
    
    <h1>Opinie użytkowników</h1>
    <% if (opinions.length > 0) { %>
      <h2>Średnia ocen: <%= averageRating %></h2>
    <% } else { %>
      <p>Brak opinii do wyświetlenia.</p>
    <% } %>

    <ul>
        <% opinions.forEach((opinion) => { %>
            <li>
                <h3>Ocena: <%= opinion.ocena %> gwiazdek</h3>
                <p> Opinia: <%= opinion.tresc %></p>
                <p>Data wystawienia: <%= opinion.data_wystawienia %></p>
                <p>Użytkownik: 
                  <% if (typeof opinion.uzytkownik_id === 'number') { %>
                    Zarejestrowany
                  <% } else { %>
                    Niezarejestrowany
                  <% } %>
                </p>
                
            </li>
        <% }); %>
    </ul>
   
    
    
</body>
</html>