<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>Document</title>
</head>

<body>

  <nav>
    <h4>Admin panel</h4>
    <ul>
      <li><a href="/admin">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </nav>
  <main>

    <h1>Lista użytkowników</h1>
    <form action="/admin" method="get">
      <input type="text" name="search" placeholder="Szukaj użytkownika">
      <button type="submit">Szukaj</button>
    </form>


    

        <ul>
        <% users.forEach(function(users) { %>

          <li>
            <%= users.firstName %> <%= users.lastName %> 
            <a href="/edit/<%= users.id %>">Edytuj</a>
            <a href="/delete/<%= users.id %>" onclick="return confirm('Czy na pewno chcesz usunąć tego użytkownika?')">Usuń</a>
          </li>





        <% }); %>
      </ul>



  </main>

</body>

</html>
