


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/edb0032d42.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/profile.css">
  <title>Document</title>
</head>

<body>
  <nav>
    <h4><a href="/konto"><img src="/avatar.png" alt=""></a></h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profil</a></li>
    
       <li><a href="/transfer">Przelew</a></li>
      <li><a href="/auth/logout">Wyloguj</a></li>
    </ul>
  </nav>
<div class="container mt-4">
    <form action="/auth/transfer" method="post">
  <label for="amount">Kwota:</label>
  <input type="number" id="amount" name="amount" required>

  <label for="banknumber">Numer banku obiorcy:</label>
  <input type="number" id="banknumber" name="banknumber" required>

  <label for="description">Wiadomość</label>
  <input type="text" id="description" name="description" value="Opis" required>
  <br>
  <label for="typprzelewu">Typ Przelewu</label><br>

  <input type="radio" id="wew" name="przelew" value="wew" required>
  <label for="wew"> Przelew wewnętrzny </label> <br>

  <input type="radio" id="elixir" name="przelew" value="elixir" required>
  <label for="wew"> Elixir </label> <br>
  
  <button type="submit">Wyślij przelew</button>
</form>

<% if (typeof message != "undefined" && message) { %>
  <h4 class="alert alert-danger mt-4"><%= message %></h4>
  <% } %>
</div>
 
</body>
</html>
